body{
    margin: 0;
    background-color: #265a7a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    padding: 10px;
    height: 4vh;
    /* display: flex; */
    align-items: center;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }

  input{
    width: 75vw;
    height: 3vh;
    margin-left: 1vw;
    background-color: #265a7a;
    border: 1px solid white;
    border-radius: 6px;
  }

  #npm-logo{
    height: 5vh;
    margin-top: 1vh;
  }

  #bear-logo{
    height: 5vh;
  }

  .search-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .search-bar p{
      margin-left: 2vw;
      margin-right: 2vw;
  }

  h1{
    font-size: 2.5em;
    margin-bottom: 0.5vh;
  }


  .build-amazing{
    background: url(images/city-scape.svg);
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 40vh;
    display: flex;
    padding-left: 22vw;
    display: flex;
    flex-flow: column;
  }

  .build-amazing button{
    height: 4vh;
    width: 7vw;
    /* width: 5vw; */
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: orange;
    border: none;
    margin-left: 1vw;
  }

  #collab-image{
      height: 30vh;
  }

  .powerful-collab{
    height: 50vh;
    background-color: #273547;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #signup{
    border-radius: 20px;
    background-color: red;
    border: none;
    color: white;
    height: 4vh;
    width: 7vw;
    margin-left: 2vw;
  }

  .text-under-powerful{
      display: flex;
      flex-flow: column;
  }

  .vw-right{
    margin-left: 1vw;
  }

  .move-right{
    margin-left: 2vw;
  }

  .what-is{
    height: 50vh;
    background: url(images/forklift.svg);
    margin-top: 0;
    padding-left: 20vw;
    display: flex;
    flex-flow: column;
    padding-top: 3vh;
    /* align-items: center; */
  }

  .what-is p{
    /* margin-left: 1vw; */
  }

  #install{
    border-radius: 20px;
    background-color: #34495e;
    border: none;
    height: 4vh;
    width: 7vw;
    color: white;
    /* margin-left: 1vw; */
  }

